/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML 및 Body 기본 설정 */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤바 제거 */
}

/* 전체 컨테이너 */
.container {
  display: flex;
  height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* 왼쪽 패널 */
.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

/* 오른쪽 패널 */
.right-panel {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
}

/* 배경 이미지 */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 왜곡 없이 패널을 완전히 채우도록 설정 */
  z-index: -1; /* 다른 요소 뒤로 이동 */
}

/* 버튼 스타일 */
.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

/* 헤딩 스타일 */
.heading {
  font-size: 24px;
  margin-bottom: 3px;
}

/* 타이핑 효과 넣기*/
.typing {
  font-size: 1.2rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #666;
  animation: typing 4s steps(40, end), blink-caret 0.25s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
